tese_main/tese/funciona/procastinar/*
funciona/map_pre_thesis/benchmarking/sheet/~$benchmark.xlsx
funciona/map_pre_thesis/benchmarking/benchmark.lib
funciona/map_pre_thesis/benchmarking/benchmark.exp
funciona/map_pre_thesis/benchmarking/benchmark.exe
funciona/map_pre_thesis/benchmarking/compile.bat
funciona/map_pre_thesis/benchmarking/profiling/*           
benchmarking/sheet/~$benchmark.xlsx
benchmarking/benchmark.lib
benchmarking/benchmark.exp
benchmarking/benchmark.exe
benchmarking/compile.bat
benchmarking/profiling/*           
                                                    
benchmarking/sheet/~$benchmark2clean.xlsx
experimental/compile.bat
experimental/experimental.exe
experimental/experimental.exp
experimental/experimental.lib
